<div class="campos">
    <div class="row">
        <div  class="col" >
            
            
            <form   action="/admin/login" method="post">

                <div class="mb-3"  style="width: 300px; margin: 0 auto" >
                    <input type="text" class="form-control form-control-sm" style="text-align: center; " placeholder="Usuario"
                        name="usuario">
                </div>
                <div class="mb-3 " style="width: 300px; margin: 0 auto">

                    <input type="password" class="form-control form-control-sm" style="text-align: center" placeholder="Contraseña"
                        name="password">
                </div>

                <div {{!-- class="col-auto" --}}>

                    <button type="submit" class="btn btn-secondary btn-sm"
                        style="background-color: #02847d; border: none"> <i class="fa-solid fa-magnifying-glass"> </i>
                        Ingresar </i></button>
                    <br><br><br>

                </div>
            </form>
            {{#if error}}
            <p style="color: rgb(255, 136, 0); font-size: 12px; font-weight: 600;">Usuario y/o contraseña incorrecto</p>
            {{/if}}
        </div>

    </div>

</div>