<div class="titulo">
            <div><img src="images/avantgarde.png" alt="noticias"></div>
            <div>
                <h1>AVANT-GARDE / Noticias</h1>
            </div>
        </div>

        <div class="monocle">
            
            
            

            <h1>avantgarde</h1>
            

        </div>