<div class="titulo">
    <div><img src="images/contacto.png" alt="Contacto"></div>
    <div>
        <h1>ALGUNA DUDA, ALGUNA PREGUNTA?</h1>
    </div>
</div>

<br><br>


<div class="contacto">

    <div>
         <h3 style="margin-top: 10px;">¡Escríbenos!</h3> <br>

        <form action="/contacto" method="post" class="formulario">

            <p>
                <label for="">Nombre</label>
                <input type="text" name="nombre">
            </p>

            <p>
                <label for="">Email</label>
                <input type="email" name="email">
            </p>


            <p>
                <label for="">Teléfono / Whatsapp</label>
                <input type="text" name="tel">
            </p>

            <p>
                <label for="">Redes sociales</label>
                <input type="text" name="rrss">
            </p>

            <p class="mensajetext">
                <label for="">Mensaje</label>
                <textarea name="mensaje" id=""></textarea>
            </p>

            <p>
                <input type="submit" value="Listo!"> <p> {{message}} </p>
            </p>

        </form>

    </div>

    <div class="datos">
        <h4>También nos encuentras por acá..</h4>
        <p style="margin-bottom: 1px;">Wazapeanos, envíanos un mail o pide una cotización y no olvides de visitar nuestras redes: </p> <br>

        <div class="wsp"><img src="images/contacto-wsp.png" alt="mail">
            <p> <a href="https://wa.me/+593964023309?text=Hola%20Monocle!%20%20Deseo%20hacer%20una%20consulta."
                    target="_blank">+593964023309 </a> <br>
                <a href="https://wa.me/+56985680225?text=Hola%20Monocle!%20%20Deseo%20hacer%20una%20consulta."
                    target="_blank">+56985680225 </a> <br>
                <a href="https://wa.me/+541124094232?text=Hola%20Monocle!%20%20Deseo%20hacer%20una%20consulta."
                    target="_blank">+5491124094232 </a>
            </p>
        </div>

        <div class="wsp redesmail"><img src="images/contacto-mail.png" alt="mail">
            <a href="mail:monocle.md@gmail.com" target="_blank">monocle.md@gmail.com </a>
        </div>

        <div class="wsp redesmail"> <img src="images/contacto-if.png" alt="mail">
            <a href="https://instagram.com/monocle.md" target="_blank">​@monocle.md</a>
        </div>

        <div class="wsp redesmail"> <img src="images/contacto-form.png" alt="mail">
            <a href="https://monocleurl.link/mmdform" target="_blank">​ Cotizaciones</a>
        </div>








    </div>

</div>

