<br><br><br>
        <div>
            <img class="principal" src="images/bgchica.png" alt="chica monocle">

        </div>

<br><br>
        <div class="botonesabajo">

            <div class="caja"> <a href="/servicios"><img src="images/servicios.png" alt="servicios"></a>
                <p>Potenciamos tu negocio!</p>
            </div>

            <div class="caja"><a href="/monocle"><img src="images/info.png" alt="monocle"></a>
                <p>Sobre nosotros</p>
            </div>

            <div class="caja"> <a href="/contacto"><img src="images/contacto.png" alt="contacto"></a>
                <p>Online 24/7 Wasapeanos!</p>
            </div>

        </div>

<br>


