<div class="titulo">
            <div><img src="images/info.png" alt="informacion"></div>
            <div>
                <h1>Esto es MONOCLE</h1>
            </div>
        </div>

        <div class="monocle">
            
            <img src="images/qori.png" alt="Qori, la CEO de la empresa" class="qori">
            <p class="parrafo1"> <b> Monocle Cibermarkeing + Diseño</b>, es mi hijo! Entonces se preguntan quién es el
                padre?. Detrás de Monocle
                está Eduardo Marín, Ecuatoriano de nacimiento y hoy nómada digital sudamericano.
                Tras 15 años de experiencia en las artes visuales, trabajando en empresas y como freelance sigo
                ofreciendo servicios de calidad y  sobre todo de resultados. En la actualidad <b> MONOCLE #somosTodos</b>
                desde
                el cliente que llega con un sueño hasta cada uno de nuestros colaboradores que buscan que el trabajo sea
                eficiente y eficaz. </p> <br> 

            <p> <b>¡Somos Creativos Estoicos!</b> <br>
                Tomarse la vida con estoicismo es sobrellevarla frente a las adversidades y para nosotros sobre todo
                buscamos dar vuelta las situaciones presentes, para mejorarlas y crecer. Si, crecer! Porque lo más
                importante para nosotros es hacer que tu negocio crezca.</p><br>


            <p> <b>Somos una agencia orientada a RESULTADOS</b> <br>
                Queremos cumplir los objetivos de nuestros clientes a través de estrategias de marketing digital que
                permitan que la gente hable de tu negocio y/o emprendimiento.
                Somos creativos, alegres y sobre todo CERCANOS. Nos hemos propuesto que nuestra agencia sea tu amigo,
                que al verte crecer podamos celebrar juntos.
                Simplemente queremos Solucionar <b>Problemas de Comunicación</b> y así llegar a cumplir tus sueños y
                objetivos.<br><br>
                ¡No tenemos letra chica en lo que hacemos, somos claros y vamos de frente!<br>
                <b>Planificamos, creamos y ejecutamos</b>.
            </p>
            

        </div>