<div class="titulo">
            <div><img src="images/servicios.png" alt="servicios"></div>
            <div>
                <h1>SERVICIOS</h1>
            </div>
        </div>

        <div class="servicios">

            <div class="servicio asesor">
                <div class="ima"> <img src="images/serivicios_asesor.png" alt="servicios"></div>
                <div class="info">
                    <h2>ASESORAMIENTO</h2>
                    <p> ¿Buscas prescencia en la web? Analizamos tu negocio y te ofrecemos servicios acorde a tus
                        necesidades. Crearemos estrategias y acciones que te permitan llegar más a tus clientes y
                        potenciales clientes. Escribenos al <a href="https://monocleurl.link/mmdform"
                            target="_blank">FORMULARIO</a> y nos pondremos en contacto
                        contigo. O le puedes dar clic al botoncito naranja de arriba!
                    </p>
                </div>
            </div>



            <div class="servicio">
                <div class="ima"> <img src="images/serivicios_diseno.png" alt="servicios"></div>
                <div class="info">
                    <h2>DISEÑO GRÁFICO</h2>
                    <p> Diseños de acuerdo a tus necesidades, buscamos que las piezas de diseño puedan comunicar de
                        manera efectiva el mensaje, idea o producto que tengas en mente. La identidad a tu negocio que permitirá darle vida a la marca. El objetivo son los resultados, queremos que tu negocio cresca. Atractivo, creativo y directo es nuestra propuesta de trabajoa través de publicidades para redes sociales, banners, folletería, infografías, packaging, gigantografías, vallas publicitarias, etc.
                    </p>
                </div>
            </div>


            <div class="servicio">
                <div class="ima"> <img src="images/serivicios_web.png" alt="servicios"></div>
                <div class="info">
                    <h2>PÁGINAS WEB</h2>
                    <p> Diseños de acuerdo a tus necesidades, buscamos que las piezas de diseño puedan comunicar de
                        manera efectiva el mensaje, idea o producto que tengas en mente.
                    </p>
                    <ul>
                        <li>Identidad coorporativa</li>
                        <li>Logotipo e Isologo</li>
                        <li>Papelería y folletería</li>
                        <li>Diseño de Catálogos, editorial y Packaging</li>
                        <li>Diseño Gráfico Publicitario</li>
                        <li>Diseño para Redes Sociales</li>
                        <li>Diseño de gigantografías y vinilos comerciales</li>

                    </ul>
                </div>

            </div>




            <div class="servicio">
                <div class="ima"> <img src="images/serivicios_ecom.png" alt="servicios"></div>
                <div class="info">
                    <h2>E-COMMERCE</h2>
                    <p> ¿Deseas vender por internet?, te asesoramos y te ofrecemos distintas plataformas para poner tu
                        negocio en la web y empezar a vender desde hoy!
                    </p>
                    <ul>
                        <li>Google Shopping (Tienda Virtual)</li>
                        <li>Google Ads (Anuncios en línea)</li>
                        <li>Facebook Ads (Anuncios de post & videos)</li>
                        <li>Instagram Ads (Anuncios de post & videos)</li>
                        <li>Youtube Ads (Videomarketing )</li>
                    </ul>
                </div>

            </div>



            <div class="servicio">
                <div class="ima"> <img src="images/serivicios_rrss.png" alt="servicios"></div>
                <div class="info">
                    <h2>COMMUNITY MANAGEMENT</h2>
                    <p> El mercado hoy es en línea, te ofrecemos la creación de identidad de marca y gestión de tus
                        publicaciones y campañas en redes sociales por medio de la creación de contenido atractivo y que
                        permita interactuar con tu comunidad online. Tenemos varios servicios y planes a los que puedes
                        acceder.</p>
                    <ul>
                        <li>Asesoramiento</li>
                        <li>Creación de RRSS desde 0</li>
                        <li>Diseño de publicaciones e historias</li>
                        <li>Administración de la red social</li>
                        <li>Soncronización Web/RRSS</li>
                        <li>Planificación de publicaciones</li>
                        <li>Ads para Redes sociales</li>
                        <li>Interacción entre RRSS</li>
                        <li>Campañas Publicitarias</li>
                        <li>Planes de acuerdo a tu presupuesto</li>
                    </ul>
                </div>
            </div>



            <div class="servicio">
                <div class="ima"> <img src="images/serivicios_mail.png" alt="servicios"></div>
                <div class="info">
                    <h2>E-MAIL MARKETING</h2>
                    <p> Envío masivo de correos electrónicos a un listado de contactos que ayuda a captar nuevos y
                        potenciales clientes, delizarlos continuamente. Le da a su negocio visivilidad, valor y
                        velocidad en el transito de la información .
                    </p>
                    <p>News, lista de productos, precios, Promociones, descuentos y más.</p>
                </div>

            </div>







            <div class="servicio">
                <div class="images"> <img src="images/serivicios_ecom.png" alt="servicios"></div>
                <div class="info">
                    <h2>COACHING</h2>
                    <p> Por medio de charlas individuales o grupales orientamos la mejora del clima laboral por medio de
                        instancias de trabajo de couching sistémico en relación al bienestar de las personas a través de
                        la inteligencia emocional en pos de optimizar el rendimiento y la salud mental.
                    </p>

                    <ul>
                        <li>Clima laboral, directivos, mandos medios y empleados</li>
                        <li>Producción y fuerza de ventas</li>
                        <li>Necesidades específicas</li>
                        <li> Charlas y seminarios de atención al cliente, tecnicas de ventas, comunicación laboral,
                            Liderazgo, organización y gestión.</li>
                    </ul>
                </div>
            </div>

        </div>